{% extends 'base.html' %}



{% block title %} Express Entry Program {% endblock title %}
{% block body %}
    <div style="width:100%;height:400px;">
  <img src="/static/tracks.jpg" alt="Norway" style="width:100%;height:100%;object-fit:cover; margin-top: 5%;">
<h1><div class="centered">Express Entry Program</div></h1>
<h1><div class="cenered">Fast Track your application for Canadian Permanent Residency</div></h1>
</div>
<style>
.centered {
  position: absolute;
  top: 35%;
  left: 25%;
  {% comment %} transform: translate(-50%, -50%); {% endcomment %}
  font-size: 45px;
  font-family: arial black;
  color: white;
  

}
.cenered {
  position: absolute;
  top: 50%;
  left: 6%;
  {% comment %} transform: translate(-50%, -50%); {% endcomment %}
  font-size: 45px;
  font-family: Copperplate Gothic Bold;
  color: white;
  text-align:center;
  
}
.left {
  position: absolute;
  top: 130%;
  left: 2%;
  right: 94%
 transform: translate(-50%, -50%); 
  font-size: 45px;
  font-family: Copperplate Gothic Bold;
  color: #cc0000;
}
  text-align:left;
  .lft {
  position: absolute;
  top: 150%;
  left: 2%;
  right: 94%
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: Times New Roman;
  color: blacks;
  text-align:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
  text-align:left;

</style>

<h1 style= "color: #cc2900;   padding-left: 80px; padding-top: 120px;"><b>How does express entry work<h1></b>
<hr style="width:15%", size="3", color=black border-width: 4px;>  
<p style="font-family: Helvetica; color: #505050; font-size: 17px; text-align:left; word-break: break-all; line-height: 2em;">Express Entry is an online system introduced by the 
Canadian government<br> in 2015 which is used to 
manage Canadian permanent residency <br> applications under three 
federal economic immigration <br>programs.</p>

<ul>
<li style="font-family: Helvetica; color: 	#484848; font-size: 25px; "><strong>Federal Skilled Worker</strong></li><br>
</ul>
<p style="font-family: Helvetica; bottom: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; word-break: break-all; line-height: 2em;">This program is for skilled workers with foreign work
experience<br> who want to immigrate to Canada permanently.</p>
<ul>
<li style="font-family: Helvetica; color: #484848; font-size: 25px; "><strong>Federal Skilled Trades</strong></li><br>
</ul>
<p style="font-family: Helvetica; bottom: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; word-break: break-all; line-height: 2em;">The Federal Skilled Trades Program is for skilled workers 
who want<br> to become permanent residents based on being qualified in a <br>skilled trade.</p>
<ul>
<li style="font-family: Helvetica; color: #484848; font-size: 25px; "><strong>Canadian Experience Class</strong></li><br>
</ul>
<p style="font-family: Helvetica; bottom: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; word-break: break-all; line-height: 2em;">The Canadian Experience Class is for 
skilled workers who have<br> Canadian work experience and want to become permanent<pr> residents.</p>
<hr style="width:90%;", size="3", color=maroon border-width: 4px;>  

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
<h2><a class="btn btn-secondary" href="#" role="button" style="color: black; border:none; font-size: 25px;  padding-right: 100px; padding-top: 50px; background-color: Transparent; ">&#128187; Eligibility Requirements</a></h2>
        <p style="font-family: Helvetica; top: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; line-height: 2em;">Learn more about eligibility requirements for Federal Skilled Worker,
        Skilled Trade & Canadian Experience Class </p>
      </div>
      <div class="col-md-4">
        <h2><a class="btn btn-secondary" href="#" role="button" style="color: black; border:none; font-size: 25px;  padding-right: 100px; padding-top: 50px; background-color: Transparent; ">&#9648; Calculate Express Entry Points</a></h2>
        <p style="font-family: Helvetica; bottom: 10px; position: relative;color: #505050; font-size: 17px; text-align:left; line-height: 2em; padding-left: 10px;">Use our Express Entry Points Calculator 
        to evaluate points for express entry candidacy.</p>
      </div>
      <div class="col-md-4">
      
    <h2><a class="btn btn-secondary" href="#" role="button" style="color: black; border:none; font-size: 30px;  padding-right: 30px; padding-top: 50px; background-color: Transparent;">&#128209;Get Started</a></h2>
        <p style="font-family: Helvetica; top: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; line-height: 2em;">Talk with our global immigration experts 
        on how your can quality for Express Entry</p>
    
      </div>
    </div>

    <hr>

  </div> <!-- /container -->









{% endblock body %}
