{% extends 'base.html' %}

{% block title %} Services {% endblock title %}
{% block body %}



      <img src="/static/ppl.jpg" class="d-block" style=" margin-bottom: 75px; width:100%"alt="...">




<h1><strong><div style="margin-left:4%;color:DarkRed;">How the Provincial Nominee Program Works</div></strong></h1>
<style>
p {
  margin-top: 2em ;
  font-family: Arial; 
  top: 10px; 
  position: relative;
  color: black; 
  font-size: 17px; 
  text-align:left;
  line-height: 2em; 
  left:4%;
 max-width: 100%;
    overflow-x: hidden;


}
</style>




<p >Provincial
 Nominee Programs (PNPs) offers a great opportunity for 
Canadian provinces and territories to nominate 
individuals who wish<br> to immigrate to Canada and are 
interested in settling in a particular province. 
The first step in the process is to apply to the PNP in the<br> 
province or territory where you want to settle. To qualify,
 you must have the skills, 
education and work experience you will 
need to settle<br> in Canada and support yourself and your family.</p>


<p>We encourage prospective immigrants to research and understand provincial nominee criteria’s, 
career prospects and socio economic conditions of each 
province while making the decision to immigrate to Canada through the 
Provincial Nominee<br> Program. Each Canadian province and territory
(except Nunavut and Quebec, which has a different selection system)  
has its own unique Provincial Nominee Program. Nomination for PNP 
can be done either through express entry or non express entry pnp 
stream based on qualification criteria’s. </p>
<p>After the province or territory approves your application, 
your next step is to apply for permanent residence within the time period.<br>
With more than 80 PNP streams available, identifying the PNP option that’s best for can be 
challenging and we encourage prospective immigrants to use the 
PNP calculators and tools and resources available on our 
website to help identify PNP options that best suit your<br> profile. </p>



<img src="/static/Canada.png" alt="Norway" style="width:100%height:800px;object-fit:cover; 
margin-bottom: 3%;display: block;margin-left:
 auto;margin-right: auto;width: 50%;">


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
<h2><a class="btn btn-secondary" href="#" role="button" style="color: black; border:none; font-size: 25px;  padding-right: 100px; padding-top: 50px; background-color: Transparent; ">&#128187; Eligibility Requirements</a></h2>
        <p style="font-family: Helvetica; top: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; line-height: 2em;">Learn more about eligibility requirements for Provincial Nominee Programs </p>
      </div>
      <div class="col-md-4">
        <h2><a class="btn btn-secondary" href="#" role="button" style="color: black; border:none; font-size: 25px;  padding-right: 100px; padding-top: 50px; background-color: Transparent; ">&#9648; Calculate PNP Points</a></h2>
        <p style="font-family: Helvetica; bottom: 10px; position: relative;color: #505050; font-size: 17px; text-align:left; line-height: 2em; padding-left: 10px;">Use our PNP Points Calculator 
        to evaluate points for provincial nominee programs.</p>
      </div>
      <div class="col-md-4">
      
    <h2><a class="btn btn-secondary" href="#" role="button" style="color: black; border:none; font-size: 30px;  padding-right: 30px; padding-top: 50px; background-color: Transparent;">&#128209;Get Started</a></h2>
        <p style="font-family: Helvetica; top: 15px; position: relative;color: #505050; font-size: 17px; text-align:left; line-height: 2em;">Talk with our global immigration 
        experts on how your can quality for Provincial Nominee Programs</p>
    
      </div>
    </div>

    <hr>

  </div> 

{% endblock body %}